:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

mat-toolbar {
  z-index: 1000;
  flex-shrink: 0;
}

router-outlet {
  display: none;
}

router-outlet ~ * {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: white;
}
